:root {
    
}

* {
    font-family: Roboto, sans-serif;
}

.font-title {
    font-family: BristoneMedium, sans-serif;
}

.bg-b {
    background-color: #1A1A1A;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    width: max-content;
    position: relative;
    display: inline-block;
    transform: scale(1);
    text-shadow: 0 0 0 transparent;
    transition: transform .3s, text-shadow 0.6s;
}

.nav-link:hover {
    transform: scale(1.1);
    text-shadow: 0 0 5px #DB1F26, 0 0 10px #DB1F26, 0 0 20px #DB1F26;
}

.nav-link::after {
    content: "";
    background: white;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.home-section-2 {
    background-repeat: no-repeat;
    background: fixed;
    background-size: cover;
    background-position: center center;
}