/* VARIABLES */
:root {
    --accent-1: #DB1F26;
    --accent-2: #A51E22;
    --light-black: #2c2c2c;
    --dark-white: #F8F7F8;
}

/* CLASSES */
.font-title {
    font-family: BristoneMedium, sans-serif;
}

.bg-b {
    background-color: var(--light-black);
}

.accent-2 {
    color: var(--accent-2);
}

.dark-white {
    color: var(--dark-white);
}

.shadow-white {
    text-shadow: 2px 2px 1px white, -2px -2px 1px white, 2px -2px 1px white, -2px 2px 1px white;
}

.shadow-black {
    text-shadow: 2px 2px 1px black, -2px -2px 1px black, 2px -2px 1px black, -2px 2px 1px black;
}

.shadow-red-1 {
    text-shadow: 2px 2px 1px black, -2px -2px 1px black, 2px -2px 1px black, -2px 2px 1px black;
}

.shadow-red-1 {
    text-shadow: 2px 2px 1px var(--accent-1), -2px -2px 1px var(--accent-1), 2px -2px 1px var(--accent-1), -2px 2px 1px var(--accent-1);
}

.shadow-red-2 {
    text-shadow: 2px 2px 1px var(--accent-2), -2px -2px 1px var(--accent-2), 2px -2px 1px var(--accent-2), -2px 2px 1px var(--accent-2);
}

/* HTML */
* {
    font-family: AltoneMedium, sans-serif;
}

/* NAVBAR */
.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    width: max-content;
    position: relative;
    display: inline-block;
    transform: scale(1);
    text-shadow: 0 0 0 transparent;
    transition: transform .3s, text-shadow 0.6s;
}

.nav-link:hover {
    text-shadow: 0 0 5px var(--accent-1), 0 0 10px var(--accent-1), 0 0 20px var(--accent-1);
}

.nav-before::before {
    content: "";
    background: white;
    width: 2px;
    height: 100%;
    position: absolute;
    right: -12.5px;
}

.nav-link::after {
    content: "";
    background: white;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* HEADER */
.video {
    transform: translateZ(0);
    will-change: transform;
}

.header-title {
    font-size: clamp(4rem, 6vw, 6rem);
}

/* SECTIONS */
.section-title {
    font-size: clamp(1.4rem, 6vw, 5rem);
}

.section-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.home-section-scroll {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-section-fixed {
    background-image: url('../images/bg-fixed.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

/* SECTION 1 */
.card-anchor {
    transform: scale(1);
    transition: transform .3s;
}

.card-anchor:hover {
    transform: scale(1.1);
}

.card-border {
    border: 5px solid var(--accent-2);
    transition: box-shadow 0.3s;
}

.card-border:hover {
    box-shadow: 5px 5px 15px #bdbdbd6a, -5px -5px 15px #bdbdbd6a;
}

.img-card {
    width: 15rem;
}

.card-subtitle {
    color: #A51E22;
    font-weight: bold;
}

/* SECTION 2 */

iframe {
    border: 5px solid var(--accent-2);
    outline: none !important;
}

iframe:focus {
    outline: none !important;
}

/* FOOTER */
.footer-info {
    transform: scale(1);
    transition: transform .3s;
}

.footer-info:hover {
    transform: scale(1.1);
}